*{
	padding: 0;
	margin: 0;
}
body{
	background: url() no-repeat;
	background-size: cover;
	align-items: center;
	justify-content: center;
	display: flex;
	font-family: sans-serif;
}
.container{
	position: relative;
	margin-top: 100px;
	width: 455px;
	height: auto;
	background: #20f0d8;
	border-radius: 18px;
}
.label{
	padding: 25px 134px;
	font-size: 40px;
	font-weight: bold;
	color: #210610;
}
.login_form{
	padding: 25px 45px;
}
.login_form .font{
	font-size: 25px;
	color: #601591;
	margin: 9px 9;
}
.login_form input{
	height: 48px;
	width: 348px;
	padding: 0 9px;
	font-size: 29px;
	outline: none;
	border: 8px solid silver;
}
.login_form .font2{
	margin-top: 37px;
}
.login_form button{
	margin: 48px 0 39px 0;
	height: 49px;
	width: 369px;
	font-size: 29px;
	color: white;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	background: #1a0940c7;
	border-radius: 9px;
	border: 9px solid #1201AB;
	transition: .9s;
}
.login_form button:hover{
	background: #71300a;
}
.login_form #email_error,
.login_form #pass_error{
	margin-top: 10px;
	width: 348px;
	font-size: 19px;
	color: #c1209880;
	background: rgba(255,0,0,0.1);
	text-align: center;
	padding: 7px 9px;
	border-radius: 8px;
	border: 5px solid #EA1A59;
	display: none;
}


