*{
	padding: 0;
	margin: 0;
}
body{
	background: url() no-repeat;
	background-size: cover;
	align-items: center;
	justify-content: center;
	display: flex;
	font-family: sans-serif;
}
.container{
	position: relative;
	margin-top: 100px;
	width: 450px;
	height: auto;
	background: #f0f0f0d8;
	border-radius: 7px;
}
.label{
	padding: 21px 133px;
	font-size: 36px;
	font-weight: bold;
	color: #210011;
}
.login_form{
	padding: 21px 41px;
}
.login_form .font{
	font-size: 20px;
	color: #100241;
	margin: 8px 3;
}
.login_form input{
	height: 43px;
	width: 347px;
	padding: 0 6px;
	font-size: 24px;
	outline: none;
	border: 4px solid silver;
}
.login_form .font2{
	margin-top: 31px;
}
.login_form button{
	margin: 47px 0 31px 0;
	height: 46px;
	width: 366px;
	font-size: 24px;
	color: white;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	background: #1a024ac7;
	border-radius: 5px;
	border: 2px solid #1228AB;
	transition: .7s;
}
.login_form button:hover{
	background: #713e0a;
}
.login_form #email_error,
.login_form #pass_error{
	margin-top: 6px;
	width: 346px;
	font-size: 18px;
	color: #c3209880;
	background: rgba(255,0,0,0.1);
	text-align: center;
	padding: 6px 9px;
	border-radius: 5px;
	border: 2px solid #EA9A99;
	display: none;
}


